{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Yellowtail&display=swap" rel="stylesheet">

{% endblock %}

{% block content%}
<div class="div"
    style="background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.7)), url('https://images.unsplash.com/photo-1575680850636-6534e1b7603e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60'); background-repeat: no-repeat; background-size: cover; height: 80vh;">


    <div>
        <div class="container-fluid">
            <h2 style="color: white;text-align: center; padding-top: 50px; font-family: 'Press Start 2P', cursive;
        font-family: 'Yellowtail', cursive; font-weight: 900;">WELCOME TO MY PERSONAL BLOG</h2>

            {% if current_user.is_anonymous%}
            <!-- <li  class="btn btn-info" style="font-size: 20px;"><a href="{{url_for('auth.login')}}" class="text-light"><strong>Sign In</strong></a></li> -->
            {%endif%}
            </ul>
        </div>
        <p style="font-size: 30px; color:white; text-align: center;font-family: 'Bangers', cursive; margin-top: 130px;
    padding-top: 20%;  ">All right reserved by @2020 AokoMercyline(blog)</p>
    </div>
</div>



{% endblock %}